<div class="stat-likes">
  <img src="assets/icons/heart.svg" alt="Likes">
  <span>{{task.stats.likes_count}}</span>
</div>
<div class="stat-comments">
  <img src="assets/icons/comment.svg" alt="Comments">
  <span>{{task.stats.comments_count}}</span>
</div>
<div class="stat-reposts">
  <img src="assets/icons/repost.svg" alt="Reposts">
  <span>{{task.stats.shares_count}}</span>
</div>

<div class="stat-gap"></div>

<div class="stat-rating">
  <img src="assets/icons/star.svg" alt="Rating">
  <span>{{task.stats.rating}}</span>

</div>
<div class="stat-views">
  <img src="assets/icons/view.svg" alt="Views">
  <span>{{task.stats.views_count}}</span>
</div>