<div class="comment" *ngFor="let comment of comments">
  <div class="comment__pic">
    <picture>
      <source srcset="{{comment.author.userpic.smX2.url}} 2x" type="image/jpeg" />
      <img
        [src]="comment.author.userpic.smX2.url"
        [alt]="comment.author.first_name + ' ' + comment.author.last_name"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="comment__container">
    <span class="comment__author">{{ comment.author.first_name + ' ' + comment.author.last_name }}</span>
    <p class="comment__text">{{ comment.text }}</p>
    <span class="comment__date">{{ comment.published_at | date: 'dd.MM.y hh:mm a' | lowercase }}</span>
  </div>
</div>
<div class="load-comments">
  <div class="load-comments__button">{{ 'i18n.COMMENT.LOAD' | translate }}</div>
</div>
<form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)" class="comment-form">
  <div class="comment-form__window">
    <div class="comment-form__attach" (click)="imageInput.click()" [class.attached]="attachment">
      <input
        #imageInput
        hidden
        [multiple]="false"
        (change)="fileListener($event)"
        type="file"
        name="attach"
        ngModel
        accept="image/jpeg,image/png,image/gif,image/bmp"
      />
      <img src="assets/icons/attachment.svg" alt="Attachment">
    </div>
    <div class="comment-form__text">
      <input name="text" ngModel type="text" placeholder="{{ 'i18n.COMMENT.PLACEHOLDER' | translate }}" class="comment-form__text-field">
    </div>
  </div>
  <button class="comment-form__button" type="submit"></button>
</form>